# ==========================================
# JUNES NATAN PORTFOLIO — ENVIRONMENT VARIABLES
# ==========================================

# ------------------------------------------
# FIREBASE CLOUD FIRESTORE CREDENTIALS
# Rendez-vous sur https://console.firebase.google.com/
# ------------------------------------------
VITE_FIREBASE_API_KEY=AIzaSy...
VITE_FIREBASE_AUTH_DOMAIN=prospection-a1082.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=prospection-a1082
VITE_FIREBASE_STORAGE_BUCKET=prospection-a1082.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=149664611365
VITE_FIREBASE_APP_ID=1:149664611365:web:3cdedbdbcb1c8bd23b53cc
VITE_FIREBASE_MEASUREMENT_ID=G-545BS6RX4Y
